
.appleItem {
  padding: 10px;
  display: flex;
  align-items: center;

  >.apple {
    flex: 1 80px auto;
  }

  >.info {
    flex: 1 1 auto;
    padding-left: 15px;

    >.name {
       color: #069;
       font-size: 16px;
    }

    >.weight {
      color: #666;
      font-size: 12px;
    }
  }

  >.btn-div {
    flex: 1 60px auto;

    button {
      width: 70px;
      height: 50px;
      background: #069;
      border: 0;
      border-radius: 10%;
    }
    
  }
}
